<div class="home">
  <div class="home-conteudo">
    <div class="home-cartao">
      <a href="cadastros/disciplina">
        <img src="./../../../../assets/foto1.png" class="card-img-top" alt="..." />
      </a>
    </div>
    <div class="home-cartao">
      <a href="cadastros/aluno">
        <img src="./../../../../assets/foto2.png" class="card-img-top" alt="..." />
      </a>
    </div>
    <div class="home-cartao">
      <a href="lancamentos/boletim">
        <img src="./../../../../assets/foto3.png" class="card-img-top" alt="..." />
      </a>
    </div>
    <div class="home-cartao">
      <a href="cadastros/turma">
        <img src="./../../../../assets/foto4.png" class="card-img-top" alt="..." />
      </a>
    </div>
  </div>
</div>
