<div class="container-fluid">
  <div class="row">
    <h5 class="card-title">Disciplinas do Aluno</h5>
    <div class="col-md-12">
      <label for="input-codigo">Selecionar Disciplina</label>
      <select class="form-control" name="disciplina" [(ngModel)]="disciplina">
        <option value="0">--Selecione--</option>
        <option *ngFor="let listaDisciplina of listaDisciplina | async as listaDisciplinas" [ngValue]="listaDisciplina">
          {{ listaDisciplina.descricao }}
        </option>
      </select>
    </div>
  </div>
  <br />
  <div class="btn-group">
    <a class="btn btn-secondary active" aria-current="page" (click)="cmdAdicionar()">Adicionar</a>
  </div>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Disciplina</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alunoDisciplinas; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ item.disciplina?.descricao }}</td>
        <td (click)="cmdRemover(item)"><button type="button" class="btn btn-secondary">Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>
