<div class="conteudo">
  <!--DADOS-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2>Cadastro de Turma</h2>
          <div class="form-group">
            <label for="input-codigo">Código</label>
            <input type="text" id="input-codigo" name="Id" class="form-control" [(ngModel)]="model.id" disabled />
          </div>
          <div class="form-group">
            <label for="input-nome">Periodo</label>
            <input type="text" [(ngModel)]="model.periodo" id="input-nome" name="Nome" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--COMANDOS-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h6>Comandos</h6>
          <div class="btn-group">
            <a class="btn btn-primary active" aria-current="page" (click)="cmdNovo()">Novo</a>
            <a class="btn btn-primary active" aria-current="page" (click)="cmdSalvar()" *ngIf='!editar'>Salvar</a>
            <a class="btn btn-primary active" aria-current="page" (click)="cmdEditar()" *ngIf='editar'>Salvar</a>
            <a class="btn btn-primary" [routerLink]="['/', 'cadastros', 'turma', 'listar']">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MENSAGEM-->
  <div class="mensagem" *ngIf="mensagem">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{mensagem}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="apagarMensagem()"></button>
    </div>
  </div>
</div>
